body{
    margin:0;
}

#bg-image{
    position:absolute;
    top:0;
    z-index: 20;
    width:100%;
    height:100%;
    margin:0;
}

#container{
    position:relative;
    top:0;
    width:100%;
    height:100%;
    margin:0;
}

#wrapper{
    margin:0;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:50;
    width:100%;
    display: flex;
    justify-content: center;
    gap: 50px 50px;
}


#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9{
    width:120px;
    height: 110px;
    background-color: rgb(255,255,255,0.1);
    border: 3px solid black;
}

.upper{
    padding-top: 3px;
    display: block;
    margin:auto auto;
    color:white;
    font-weight: bolder;
    font-size:60px;
    text-align: center;
}

.lower{
    display: block;
    padding-top:5px;
    margin:auto auto;
    color:yellow;
    font-size:15px;
    font-weight: bolder;
    text-align: center;
}

/* embed{
    visibility:hidden;
} */